{% load utils %}

{% if songs %}
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 50%">Name</th>
                <th scope="col" style="width: 25%">Author</th>
                <th scope="col" style="width: 10%">Duration</th>
                <th scope="col" style="width: 5%">Votes</th>
                {% if user.is_authenticated %}
                <th scope="col" style="width: 5%">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for song in songs|sort_songs_by_vote %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.author }}</td>
                <td>{{ song.duration|format_duration }}</td>
                <td id="nbvotes{{ song.yt_id }}">{% get_nb_votes song %}</td>
                {% if user.is_authenticated %}
                <td>{% include 'dj/vote_button.html' %} / {% include 'dj/like_button.html' %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No songs are available.</p>
{% endif %}
